body{
    height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: [x0] 0.3fr [x1] 1fr [x2] 1fr [x3];
    grid-template-rows: [y0] 5fr [y1] 0.8fr [y2]; 
    margin-top: 120px;
    }

.sidebar {
    background: black;
    grid-row: y0 / y1;
    color: white;
}

.content {
    background: orange;
    grid-column: x1 / x3;
    grid-row: y0 / y1;
}

.footer {
    /* background: green; */
    grid-column: x0 / x3;
    grid-row: y1;
}

.contenedor-nav{
    width: 98%;
    display: inline-flex ; 
    justify-content: space-between; 
    position: fixed;
    top: 20px;
    border: solid 1px;
    border-radius: 20px; 
    background-color: white;
}

.contenedor-links-nav{
    display: flex;
    width: 35rem;    
    align-items: center;
    margin-right: 3rem;
}

#li-nav{
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}

#li-nav li{
    list-style: none;
    margin-top: 0.5rem;
}

.contenedor-nav img{
    margin-left:10px;
}

header img{
    max-width: 10rem;
}

header ul{
    margin: 0;
    padding: 0;
    height: 5rem;
}

header ul a {
    text-decoration: none;    
}

header ul a:hover {
    text-decoration: none;
    opacity: 0.5
}

.link-nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 0.5rem;
}

footer{
    display: flex;
    flex-direction: column;
    
}

.footer-redes{
    display: inline-flex;  
    justify-content: center;
    height: 3rem;
    align-items: center;
} 

.footer-redes a {
    text-decoration: none;
    color: black;        
}


.footer-redes a:hover {
    opacity: 0.5
}
