body{
    height: 100%;
    margin: 5px;
    padding: 0;
    /* background: url(imagenes/ropafondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */

    background-image: linear-gradient(135deg, #f9f6f4, #f4ede8, #eee4dd,
    #e8dcd1, #e3d3c6, #ddcabb, #d8c2af, #c2d6d6, #b3cccc, #a3c2c2,
    #94b8b8);
    background-size: 500%;
    animation: fondoanimado 5s infinite;
}

@keyframes fondoanimado {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}



/* Estilos del nav*/
.contenedor-nav{
    width: 98%;    
    display: inline-flex ; 
    justify-content: space-between; 
    position: relative;
    top: 20px;
    border: solid 1px;
    border-radius: 20px; 
    background-color: #ffffff;
}

.contenedor-links-nav{
    display: flex;
    width: 35rem;    
    align-items: center;
    margin-right: 1rem;
}

#li-nav{
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}

#li-nav li{
    list-style: none;
    margin-top: 0.5rem;
}

.contenedor-nav img{
    margin-left:10px;
}

header img{
    max-width: 10rem;
}

header ul{
    margin: 0;
    padding: 0;
    height: 5rem;
}

header ul a {
    text-decoration: none;    
    color: #000000;
}

header ul a:hover {
    text-decoration: none;
    opacity: 0.5
}

.link-nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

/* fin de los estilos del nav*/ 


/* estilo del formulario */ 

span {
    color: #000099;
}

.contenedor-formulario .formulario {
    width: 90%;
    max-width: 700px;
    margin: auto;
    margin-top: 80px;
    padding: 5px 35px;
    padding-bottom: 30px;   
    border: 2px solid #000000;
    background-color: #e6f3f3;
    opacity: 0.8;
    border-radius: 10px;
}

.contenedor-formulario .formulario .formulario-header .formulario-titulo {
    color: #005cad;
    text-align: center;
    padding: 14px 0;
    font-size: 40px;
}

.contenedor-formulario .formulario .formulario-label {
    display: block;
    color:#055cad;
    font-size: 25px;
    position: relative;
    padding: 3px;
    margin: 10px auto;
}


.contenedor-formulario .formulario .formulario-input, .formulario-textarea {
    background-color:#666699;
    border: none;
    outline: none;
    border-bottom: 3.5px solid #6600cc;
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
}

.contenedor-formulario .formulario .formulario-input:focus, .formulario-textarea:focus {
    border: 3.5px solid #6600cc;
}

.contenedor-formulario .formulario .formulario-textarea {
    resize: vertical;
    max-height: 150px;
    min-height: 50px;
    font-size: 20px;    
}


/* estilo del selector radio */

.contenedor-formulario .formulario .formulario-radio {
    background-color: #f2f2f2;
    width: 100%;
    margin: auto;
    max-width: 650px;
    padding: 2px;
    opacity: 0.92;
    color: #005cad;
}

.contenedor-formulario .formulario .formulario-radio .formulario-radio-label-titulo{
    display: block;
    font-size: 25px;
    margin: 5px auto;
    padding: 3px;
}

.contenedor-formulario .formulario .formulario-radio .formulario-radio-label {
    display: inline-block;
    font-size: 22px;
    margin: 4px;
}

/* fin estilo del selector radio */


/* estilo alclaracion del formulario */

.contenedor-formulario .formulario .formulario-aclaracion {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 8px;
    font-size: 25px;
    text-align: justify;
    border: 3.5px solid #6600cc ;
    background-color: #52527a;
    color: #ffffff;
}

/* fin estilo de aclaracion del formulario */


/* estilo de los botones */

.contenedor-formulario .formulario-botons {
    position: relative;
    background-color: #f2f2f2;
    text-align: center;
}

.contenedor-formulario .formulario-botons .formulario-botons-boton {
    background-color: #52527a;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    color: #ffffff;
    border: 3.5px solid #6600cc;
}


/* fin etilo de botones*/



/* pseudoelementos */

::-webkit-calendar-picker-indicator {
    padding: 3px;
    border: 2px solid #ffffff;
    background-color: #ffffff;
    color: #ffffff;
    border-radius: 30%;
}

::placeholder {
    color: #ffffff;
}

/* fin pseudoelementos */





/* diseño responsive */

@media (max-width: 576px) {
    li{
        display: none
    }

    .contenedor-nav{
        width:95%;       
    }

    header img{
        max-width: 8rem;
    }

    #li-nav{
        display: inline-flex;
        justify-content: flex-end;
        width: 100%;
    }

    .link-nav{
        margin-right: 1rem;
    }

    .contenedor-formulario .formulario {
        width: 90%;
        max-width: 300px;
        margin: auto;
        margin-top: 80px;
        padding: 5px 35px;
        padding-bottom: 30px;   
        border: 2px solid black;
        background-color: #000000;
        opacity: 0.92;
        border-radius: 10px;
    }
    
}

@media (max-width: 768px) and (min-width: 576px) {
    li{
        display: none
    }

    .contenedor-links-nav{        
        margin-right: 1rem;
    }

    header img{
        max-width: 8rem;
    }

    #li-nav{
        display: inline-flex;
        justify-content: flex-end;
        width: 100%;
    }

    .link-nav{
        margin-right: 3rem;
    }

    .contenedor-formulario .formulario {
        width: 90%;
        max-width: 450px;
        margin: auto;
        margin-top: 80px;
        padding: 5px 35px;
        padding-bottom: 30px;   
        border: 2px solid black;
        background-color: #000000;
        opacity: 0.92;
        border-radius: 10px;
    }
    
}
